# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.md]
trim_trailing_whitespace = false

[*.js]
quote_type = single
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = inside
indent_brace_style = BSD KNF

# HTML
[*.html]
quote_type = double
