language: node_js
sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '6'
before_script:
  - npm prune
script:
  - yarn run build
  - yarn run test -- --coverage
after_success:
  - yarn run report-coverage
  - yarn run release
branches:
  only:
    - master
